.container {
  font-family: "DM Serif Display", serif;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px 20px 0px 20px;
  border: 2px solid rgb(112, 112, 112);
  border-radius: 10px;
  text-align: center;
  background-color:white ;
}

#search-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px;
  font-size: 10px;
}

#current-location-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px;
  font-size: 10px;
}

#search-text-input {
  text-align: center;
  font-size: 11px;
}

form {
  display: inline;
}

h1 {
  font-size: 32px;
  margin-bottom: 0px;
}

h2 {
  opacity: 70%;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}

#weather-icon {
  width: 55px;
  height: 55px;
}

h3 {
  opacity: 70%;
  font-size: 12px;
  margin-bottom: 0px;
}

p {
  text-align: center;
  font-size: larger;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

.card-body {
  font-style: italic;
}

.temperature {
  margin-top: 0px;
  box-sizing: border-box;
  opacity: 70%;
  font-size: 40px;
  line-height: 25px;
}


.units {
  
  box-sizing: border-box;
  opacity: 70%;
  font-size: 10px;
  position: relative;
  top: -17px;
  text-decoration: none;
}

.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}


.humidity {
  display: block;
  opacity: 80%;
  display: inline;
  font-size: 10px;
}

.wind {
  display: block;
  opacity: 80%;
  display: inline;
  font-size: 10px;
}

.hour-temperature{
  display: block;
  opacity: 70%;
  display: inline;
  font-size: 7px;
}

.days-weather-forecast img {
  width: 30px;
  height: 30px;
}


hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signature {
  font-family: "DM Serif Display", serif;
  opacity: 80%;
  font-style: italic;
  font-size: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.hour-temperature {
  font-size: 10px;

}

